n8n/indigitall-data-sync.json
{
  "name": "indigitall-data-sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "minutes", "minutesInterval": 15}]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.INDIGITALL_API_URL }}/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "headerParameters": {
          "parameters": [
            {"name": "X-Api-Key", "value": "={{ $env.INDIGITALL_API_KEY }}"},
            {"name": "X-Project-Id", "value": "={{ $json.project_id }}"}
          ]
        },
        "queryParameters": {
          "parameters": [
            {"name": "since", "value": "={{ $json.last_cursor }}"},
            {"name": "limit", "value": "1000"}
          ]
        }
      },
      "name": "Fetch Messages (PLACEHOLDER)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 200],
      "notes": "BLOCKED: Replace with real indigitall API endpoint when D1/D14 arrive"
    },
    {
      "parameters": {
        "url": "={{ $env.INDIGITALL_API_URL }}/v1/contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "headerParameters": {
          "parameters": [
            {"name": "X-Api-Key", "value": "={{ $env.INDIGITALL_API_KEY }}"}
          ]
        }
      },
      "name": "Fetch Contacts (PLACEHOLDER)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 400],
      "notes": "BLOCKED: Replace with real indigitall API endpoint when D1/D14 arrive"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT last_cursor, entity FROM sync_state WHERE tenant_id = '{{ $json.project_id }}' AND entity = 'messages'"
      },
      "name": "Get Sync Cursor",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [350, 200]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "messages",
        "columns": "tenant_id, message_id, timestamp, date, hour, day_of_week, direction, contact_name, contact_id, conversation_id, agent_id, intent, is_fallback, message_body"
      },
      "name": "Insert Messages",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [750, 200],
      "notes": "Map API response fields to table columns"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sync_state (tenant_id, entity, last_cursor, last_sync_at, records_synced, status) VALUES ('{{ $json.project_id }}', 'messages', '{{ $json.new_cursor }}', NOW(), {{ $json.count }}, 'completed') ON CONFLICT (tenant_id, entity) DO UPDATE SET last_cursor = EXCLUDED.last_cursor, last_sync_at = NOW(), records_synced = EXCLUDED.records_synced, status = 'completed'"
      },
      "name": "Update Sync Cursor",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [950, 200]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{"node": "Get Sync Cursor", "type": "main", "index": 0}]]
    },
    "Get Sync Cursor": {
      "main": [[{"node": "Fetch Messages (PLACEHOLDER)", "type": "main", "index": 0}]]
    },
    "Fetch Messages (PLACEHOLDER)": {
      "main": [[{"node": "Insert Messages", "type": "main", "index": 0}]]
    },
    "Insert Messages": {
      "main": [[{"node": "Update Sync Cursor", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": [{"name": "indigitall"}, {"name": "data-sync"}, {"name": "placeholder"}]
}
