n8n/indigitall-data-sync.json
{
  "name": "indigitall-data-sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "minutes", "minutesInterval": 15}]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [{
            "value1": "={{ $env.INDIGITALL_API_KEY }}",
            "operation": "isNotEmpty"
          }]
        }
      },
      "name": "Has API Key?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [350, 300],
      "notes": "Branch: live API vs mock data. Remove this node once API credentials are confirmed."
    },
    {
      "parameters": {
        "url": "={{ $env.INDIGITALL_API_URL }}/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "headerParameters": {
          "parameters": [
            {"name": "X-Api-Key", "value": "={{ $env.INDIGITALL_API_KEY }}"},
            {"name": "X-Project-Id", "value": "={{ $json.project_id }}"}
          ]
        },
        "queryParameters": {
          "parameters": [
            {"name": "since", "value": "={{ $json.last_cursor }}"},
            {"name": "limit", "value": "1000"}
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "name": "Fetch Messages (LIVE)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [550, 200],
      "notes": "BLOCKED: Replace with real indigitall API endpoint when D1/D14 arrive.\n\nExpected response format:\n{\n  \"data\": [{\"id\": \"msg_001\", \"created_at\": \"...\", ...}],\n  \"next_cursor\": \"2026-01-15T...\",\n  \"count\": 1000\n}"
    },
    {
      "parameters": {
        "url": "={{ $env.INDIGITALL_API_URL }}/v1/contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "headerParameters": {
          "parameters": [
            {"name": "X-Api-Key", "value": "={{ $env.INDIGITALL_API_KEY }}"}
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "name": "Fetch Contacts (LIVE)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [550, 400],
      "notes": "BLOCKED: Replace with real indigitall API endpoint when D1/D14 arrive.\n\nExpected response format:\n{\n  \"data\": [{\"id\": \"c_001\", \"name\": \"...\", ...}],\n  \"count\": 200\n}"
    },
    {
      "parameters": {
        "jsCode": "// Mock data branch — used when API key is not configured\n// Generates sample records for development/demo\nconst mockMessages = [];\nfor (let i = 0; i < 50; i++) {\n  mockMessages.push({\n    message_id: `mock_msg_${i}`,\n    timestamp: new Date(Date.now() - Math.random() * 7776000000).toISOString(),\n    direction: ['Inbound', 'Bot', 'Agent', 'Outbound'][Math.floor(Math.random() * 4)],\n    contact_id: `contact_${Math.floor(Math.random() * 50)}`,\n    contact_name: `Usuario ${Math.floor(Math.random() * 50)}`,\n    is_fallback: Math.random() < 0.12,\n    tenant_id: 'demo'\n  });\n}\nreturn mockMessages.map(m => ({json: m}));"
      },
      "name": "Generate Mock Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [550, 500],
      "notes": "DEV ONLY: Generates mock messages for testing. Remove when live API is connected."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT last_cursor, entity FROM sync_state WHERE tenant_id = '{{ $json.project_id }}' AND entity = 'messages'"
      },
      "name": "Get Sync Cursor",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [350, 200]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "messages",
        "columns": "tenant_id, message_id, timestamp, date, hour, day_of_week, direction, contact_name, contact_id, conversation_id, agent_id, intent, is_fallback, message_body"
      },
      "name": "Insert Messages",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [750, 300],
      "notes": "Map API response fields to table columns.\nUses ON CONFLICT for idempotent re-runs."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sync_state (tenant_id, entity, last_cursor, last_sync_at, records_synced, status) VALUES ('{{ $json.project_id }}', 'messages', '{{ $json.new_cursor }}', NOW(), {{ $json.count }}, 'completed') ON CONFLICT (tenant_id, entity) DO UPDATE SET last_cursor = EXCLUDED.last_cursor, last_sync_at = NOW(), records_synced = EXCLUDED.records_synced, status = 'completed'"
      },
      "name": "Update Sync Cursor",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [950, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE sync_state SET status = 'error', last_sync_at = NOW() WHERE tenant_id = '{{ $json.project_id }}' AND entity = 'messages'"
      },
      "name": "Set Error State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [750, 500],
      "notes": "Called on any error to mark sync as failed"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{"node": "Has API Key?", "type": "main", "index": 0}]]
    },
    "Has API Key?": {
      "main": [
        [{"node": "Get Sync Cursor", "type": "main", "index": 0}],
        [{"node": "Generate Mock Data", "type": "main", "index": 0}]
      ]
    },
    "Get Sync Cursor": {
      "main": [[{"node": "Fetch Messages (LIVE)", "type": "main", "index": 0}]]
    },
    "Fetch Messages (LIVE)": {
      "main": [[{"node": "Insert Messages", "type": "main", "index": 0}]]
    },
    "Fetch Contacts (LIVE)": {
      "main": [[{"node": "Insert Messages", "type": "main", "index": 0}]]
    },
    "Generate Mock Data": {
      "main": [[{"node": "Insert Messages", "type": "main", "index": 0}]]
    },
    "Insert Messages": {
      "main": [[{"node": "Update Sync Cursor", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "errorWorkflow": ""
  },
  "pinData": {},
  "tags": [{"name": "indigitall"}, {"name": "data-sync"}]
}
