n8n/indigitall-data-sync.json
{
  "name": "indigitall-data-sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "hours", "hoursInterval": 6}]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "notes": "Full ETL pipeline: extract from Indigitall API + transform + dbt.\nRuns every 6 hours."
    },
    {
      "parameters": {
        "url": "http://app:8050/api/run-pipeline",
        "method": "POST",
        "options": {
          "timeout": 300000
        }
      },
      "name": "Trigger Full Pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [450, 300],
      "notes": "Triggers the Python ETL pipeline:\n1. Extract from Indigitall API → raw.* (JSONB)\n2. Transform raw.* → public.* tables\n3. dbt run (staging → marts)\n\nReturns 202 Accepted immediately.\nCheck status via GET /api/pipeline-status."
    },
    {
      "parameters": {
        "conditions": {
          "number": [{
            "value1": "={{ $json.statusCode }}",
            "operation": "equal",
            "value2": 202
          }]
        }
      },
      "name": "Pipeline Accepted?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "amount": 120,
        "unit": "seconds"
      },
      "name": "Wait for Pipeline",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [850, 200],
      "notes": "Wait 2 minutes for pipeline to complete."
    },
    {
      "parameters": {
        "url": "http://app:8050/api/pipeline-status",
        "method": "GET",
        "options": {
          "timeout": 10000
        }
      },
      "name": "Check Pipeline Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1050, 200],
      "notes": "Check if pipeline completed successfully.\nResponse: {running, last_status, last_duration_s, last_results}"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sync_state (tenant_id, entity, last_cursor, last_sync_at, records_synced, status) VALUES ('visionamos', 'n8n_full_pipeline', NOW()::text, NOW(), 0, 'error: pipeline rejected (409 or network)') ON CONFLICT (tenant_id, entity) DO UPDATE SET last_sync_at = NOW(), status = 'error: pipeline rejected'"
      },
      "name": "Log Pipeline Error",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [850, 400],
      "notes": "Log error when pipeline cannot be triggered (already running or app unreachable)."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sync_state (tenant_id, entity, last_cursor, last_sync_at, records_synced, status) VALUES ('visionamos', 'n8n_full_pipeline', NOW()::text, NOW(), 0, 'success') ON CONFLICT (tenant_id, entity) DO UPDATE SET last_sync_at = NOW(), status = CASE WHEN '{{ $json.last_status }}' = 'success' THEN 'success' ELSE 'error: ' || '{{ $json.last_status }}' END"
      },
      "name": "Log Pipeline Result",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1250, 200],
      "notes": "Log the final pipeline result into sync_state for observability."
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{"node": "Trigger Full Pipeline", "type": "main", "index": 0}]]
    },
    "Trigger Full Pipeline": {
      "main": [[{"node": "Pipeline Accepted?", "type": "main", "index": 0}]]
    },
    "Pipeline Accepted?": {
      "main": [
        [{"node": "Wait for Pipeline", "type": "main", "index": 0}],
        [{"node": "Log Pipeline Error", "type": "main", "index": 0}]
      ]
    },
    "Wait for Pipeline": {
      "main": [[{"node": "Check Pipeline Status", "type": "main", "index": 0}]]
    },
    "Check Pipeline Status": {
      "main": [[{"node": "Log Pipeline Result", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "errorWorkflow": ""
  },
  "pinData": {},
  "tags": [{"name": "indigitall"}, {"name": "data-sync"}, {"name": "etl"}]
}
