n8n/indigitall-campaign-sync.json
{
  "name": "indigitall-transform-only",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "hours", "hoursInterval": 1}]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "notes": "Transform-only pipeline: re-processes raw.* → public.* tables.\nRuns every hour to pick up any new raw data.\nSkips API extraction (already done by full pipeline every 6h)."
    },
    {
      "parameters": {
        "url": "http://app:8050/api/run-pipeline?skip_extract=1",
        "method": "POST",
        "options": {
          "timeout": 120000
        }
      },
      "name": "Trigger Transform Pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [450, 300],
      "notes": "Triggers transform + dbt only (skip_extract=1):\n1. Transform raw.* → public.* tables\n2. dbt run (staging → marts)\n\nFaster than full pipeline (~30s vs ~2min)."
    },
    {
      "parameters": {
        "conditions": {
          "number": [{
            "value1": "={{ $json.statusCode }}",
            "operation": "equal",
            "value2": 202
          }]
        }
      },
      "name": "Pipeline Accepted?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "amount": 60,
        "unit": "seconds"
      },
      "name": "Wait for Transform",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [850, 200],
      "notes": "Wait 1 minute for transform to complete."
    },
    {
      "parameters": {
        "url": "http://app:8050/api/pipeline-status",
        "method": "GET",
        "options": {
          "timeout": 10000
        }
      },
      "name": "Check Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sync_state (tenant_id, entity, last_cursor, last_sync_at, records_synced, status) VALUES ('visionamos', 'n8n_transform', NOW()::text, NOW(), 0, 'success') ON CONFLICT (tenant_id, entity) DO UPDATE SET last_sync_at = NOW(), status = CASE WHEN '{{ $json.last_status }}' = 'success' THEN 'success' ELSE 'partial: ' || '{{ $json.last_status }}' END"
      },
      "name": "Log Result",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1250, 200]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{"node": "Trigger Transform Pipeline", "type": "main", "index": 0}]]
    },
    "Trigger Transform Pipeline": {
      "main": [[{"node": "Pipeline Accepted?", "type": "main", "index": 0}]]
    },
    "Pipeline Accepted?": {
      "main": [
        [{"node": "Wait for Transform", "type": "main", "index": 0}],
        []
      ]
    },
    "Wait for Transform": {
      "main": [[{"node": "Check Status", "type": "main", "index": 0}]]
    },
    "Check Status": {
      "main": [[{"node": "Log Result", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "errorWorkflow": ""
  },
  "pinData": {},
  "tags": [{"name": "indigitall"}, {"name": "transform"}, {"name": "etl"}]
}
